body {
  background: linear-gradient(
    109.6deg,
    rgb(255, 251, 213) 11.2%,
    rgb(178, 10, 44) 91.2%
  );
  background-repeat: no-repeat;
  background-size: auto 200%;
  font-family: "Besley", serif;
}

h1 {
  text-align: center;
  font-size: 40px;
  border-style: inset;
  border-radius: 7px;
  color: #b20a2c;
}

h2 {
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 5px;
  color: #7b0c3e;
}

select {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 10px 7px;
  border-radius: 6px;
  font-size: 18px;
  border: none;
  background-color: #b9213c;
  color: #fff;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 45px auto;
  background: #f6eedf69;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 7px;
  padding: 25px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.6;
  color: #7b0c3e;
}

.time {
  font-size: 48px;
  font-weight: bold;
  color: #7b0c3e;
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #b9213c;
  color: #fff;
  border: none;
  transition: 200ms ease-in-out;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
  color: #b9213c;
  background-color: #fff;
}

footer {
  text-align: center;
  font-size: 18px;
  opacity: 0.8;
}

a {
  color: #630730;
}
